.DataList {
  flex-grow: 1;
  background-color: chartreuse;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  flex-wrap: wrap;
  padding: 10px;
  .list-item {
    width: 250px;
    height: fit-content;
    border-radius: 10px;
  }
}
