.Test {
  width: 100%;
  flex-grow: 1;
  background-color: #dbf9d8;
  padding: 10px;
  position: relative;
  & > * {
    display: block;
    max-width: 350px;
    border-radius: 10px;
    margin-bottom: 5px;
    margin: 0 auto;
  }
  * {
    border-radius: 10px;
    margin-bottom: 5px;
  }
  .main {
    height: 100%;
    display: flex;
    flex-direction: column;
    border: solid 3px burlywood;
    border-radius: 5px;
  }
  img {
    width: 100%;
    height: 100px;
    flex-grow: 1;
  }
  .QA {
    width: 100%;
    background-color: bisque;
    padding: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
    .QA-nav {
      display: flex;
      gap: 5px;
      h3 {
        background-color: coral;
        padding: 5px;
        text-align: center;
        font-size: 22px;
        color: maroon;
      }
      button {
        flex-grow: 1;
        background-color: darkgoldenrod;
        color: black;
        font-size: 50px;
        line-height: 30px;
        &:hover {
          background-color: darkolivegreen;
          color: cornsilk;
        }
        &:disabled {
          opacity: 0.5;
          background-color: darkgoldenrod;
          color: black;
          cursor: default;
        }
      }
    }
  }
  .options {
    width: 100%;
    /* position: relative; */
    column-count: 2;
    button {
      width: 100%;
      /* I added a fixed height to prevent displacement of option buttons when adding more thicker border on hover. */
      height: 60px;
      font-size: 25px;
      font-weight: 600;
      color: black;
      &:enabled:hover {
        cursor: pointer;
        border: solid darkslateblue 5px;
      }
      &:disabled {
        border-color: white;
        opacity: 0.5;
      }
      &.selected {
        border: solid darkslateblue 5px;
        color: inherit;
        opacity: 1;
      }
    }
  }
}
