.Test {
  width: 100%;
  flex-grow: 1;
  background-color: #dbf9d8;
  padding: 10px;
  position: relative;
}
.Test > * {
  display: block;
  border-radius: 10px;
  margin-bottom: 5px;
}
.Test * {
  border-radius: 10px;
  margin-bottom: 5px;
}
.Test > * {
  max-width: 350px;
  margin: 0 auto;
}
.Test .main {
  height: 100%;
  display: flex;
  flex-direction: column;
  border: solid 3px burlywood;
  border-radius: 5px;
}
.Test img {
  width: 100%;
  height: 100px;
  flex-grow: 1;
}
.Test .QA {
  width: 100%;
  background-color: bisque;
  padding: 10px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.Test .QA h3 {
  background-color: coral;
  padding: 5px;
  text-align: center;
  font-size: 22px;
  color: maroon;
}
.Test .options {
  width: 100%;
  /* position: relative; */
  column-count: 2;
}
.Test .options button {
  width: 100%;
  /* I added a fixed height to prevent displacement of option buttons when adding more thicker border on hover. */
  height: 60px;
  font-size: 25px;
  font-weight: 600;
  color: black;
}

.Test .options button:enabled:hover {
  cursor: pointer;
  border: solid darkslateblue 5px;
}
.Test .options button:disabled {
  border-color: white;
  opacity: 0.5;
}
.Test .options button.selected {
  border: solid darkslateblue 5px;
  color: inherit;
  opacity: 1;
}
.Test .navigation {
  background-color: bisque;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}
.Test .navigation button {
  font-size: larger;
  padding: 2px 5px;
  width: 80px;
  background-color: darkgreen;
  color: white;
}
